div{
    display: flex;
    justify-content: center;
}
#login{
    display: inline-block;
    width: 50%;
}
@media only screen and (max-width:800px) {
    #login{
        width: 60%;
    }
}
@media only screen and (max-width:600px) {
    #login{
        width: 70%;
    }
}
@media only screen and (max-width:500px) {
    #login{
        width: 80%;
    }
}
@media only screen and (max-width:380px) {
    #login{
        width: 90%;
    }
}