<div class="card">
    <button class="delete" (click)="deleteBook()">x</button>
    <div  *ngIf="!editMode; else showEdit" class="info">
        <h2>{{book.title}}</h2>
        <h3>by {{book.author}}</h3>
        <h4>{{book.pages}} pages</h4>
        <div class="controls">
            <button (click)="editMode=!editMode" class="edit">Edit</button>
            <button [ngClass] = "{isReadButton:true, 'notRead': !this.book.isRead }" (click)= "changeReadStatus()" >{{this.text}}</button>
        </div>
      
    </div>
    <ng-template #showEdit>
        <div class="editForm">
            <app-edit-book *ngIf = "book" (editSubmit)="onEdit($event)"  [book]="book"></app-edit-book>
        </div>
    </ng-template>
    
   
</div>
