
.card{
    background-color: lightgray;
    margin: 1% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkslategray;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.controls{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.edit{
    border: none;
    background-color: green;
    color: white;
    font-size: 1.5em;
    flex:1;
    padding:5% 0;
}
.isReadButton{
    border: none;
    flex: 2;
    font-size: 1.5em;
    background-color: orange;
    color: white;
    padding:5% 0;
}
.notRead{
    background-color: darkslategrey;
    color: white;
}
.delete{
    border: none;
    background-color: red;
    color: white;
    font-size: 1.5em;
    padding: 3% 6%;
    margin-left: auto;
}
.editForm{
    width: 100%;
    height: 100%;
}
