/* You can add global styles to this file, and also import other style files */
@import '../node_modules/reset-css/sass/reset';
html, body { height: 100%; }
body {
    min-height: 100%;
    font-size: 14px;
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(243,94,131,1) 17.1%, rgba(236,212,80,1) 89.7% );
     
     }
     button::-moz-focus-inner{
         border: none;
     }
     button{
        outline: none;
     }
